@charset "UTF-8";
* {
  font-family: "Questrial";
  margin: 0; /* "quito" espacio vacio para que el color de fondo ocupe toda la pantalla*/
  padding: 0;
}

body {
  background-color: black;
  color: white;
  display: grid;
  grid-template-areas: "header" "main" "footer";
}
body main {
  grid-area: main;
}
body header {
  grid-area: header;
}
body footer {
  padding-top: 3rem;
  grid-area: footer;
}
body a {
  text-decoration: none;
  color: white;
}
body a:hover {
  font-weight: bolder;
}

/* NAVEGADOR */
header {
  padding: 2rem;
}

/*INDEX*/
/* Imagen principal */
.parrafo_principal {
  background-color: brown;
  padding: 12rem;
}
.parrafo_principal p {
  text-align: center;
  width: 100%;
  font-weight: bolder;
}

/* RESEÑAS */
.resenias {
  text-align: center;
  background-color: rgb(114, 3, 3);
  padding: 2rem;
}
.resenias .titulo {
  padding-top: 0%;
  padding-bottom: 3rem;
}
.resenias .carousel-inner {
  padding-inline: 2rem;
}
.resenias .carousel-inner .carousel-item {
  padding: 0%;
  width: 100%;
}
.resenias .carousel-inner .carousel-item .div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 2rem;
}
.resenias .carousel-inner .carousel-item .div div {
  padding: 0;
  border: 1px solid white;
  width: 100%;
  margin-inline: 5rem;
  border-radius: 3rem;
}
.resenias .carousel-inner .carousel-item .div div img {
  width: 45%;
  height: 55%;
  border-radius: 60%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.resenias .carousel-inner .carousel-item .div div p {
  width: 100%;
}

.titulo {
  padding-top: 2rem;
}

/*Tiradas con grid*/
.tiradas {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, 400px);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: brown;
}
.tiradas article img {
  border-radius: 3rem;
  width: 270px;
  height: 300px;
  margin-bottom: 1rem;
}
.tiradas article button {
  width: 13rem;
  margin-inline: 0.5rem;
  border: none;
  border-radius: 3rem;
  padding: 1rem;
}

.cancelaciones {
  background-color: rgb(114, 3, 3);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.cancelaciones .cancelar {
  border: none;
  padding: 1rem;
  font-weight: bolder;
}

/* Sobre Nosotros */
.nosotros {
  background-image: url(../IMAGENES/craft-g1ab7d2586_1280.jpg);
  /*Image by <a href="https://pixabay.com/users/albanycolley-6298107/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2728227">Daniel Albany</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2728227">Pixabay</a>*/
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  padding: 8rem;
}
.nosotros h1 {
  text-align: center;
}
.nosotros div {
  background-color: brown;
  padding: 2rem;
  margin-inline: 3rem;
  width: 500px;
  border-radius: 3rem;
}
.nosotros div p {
  width: 100%;
  font-weight: bolder;
}

/* Contacto */
.main {
  background-color: none;
  display: grid;
  grid-template-columns: repeat(2, 60%);
  grid-template-rows: 100%;
  background-color: brown;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.main .info {
  margin-inline: 1rem;
}
.main .info .form {
  width: 100%;
  margin: 0%;
  padding: 1rem;
  display: block;
  border-radius: 5rem;
  border: 1px solid white;
}
.main .info .form .titulo_form {
  text-align: center;
  margin: 0.5px;
}
.main .info .form .parrafo {
  padding: 0;
  text-align: justify;
}
.main .info .form .container_form div {
  margin: 1rem;
}
.main .info .form .container_form div .label {
  cursor: pointer;
}
.main .info .form .container_form div .input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
.main .info .form .boton {
  width: 90%;
  margin-inline: 1rem;
  border: none;
  border-radius: 3rem;
  padding: 1rem;
  background: white;
}

div.parrafo2 {
  width: 100%;
  text-align: center;
}

iframe {
  border-radius: 3rem;
}

/* Preguntas Frecuentes */
.contenedor {
  background-color: brown;
  display: flex;
  align-items: center; /*en el medio de forma vetical*/
  justify-content: center; /* en el medio de forma horizontal*/
  padding: 6rem;
}
.contenedor .container {
  margin: 5rem;
}

/* MEDIA QUERY */
@media screen and (min-width: 320px) {
  body {
    display: grid;
    grid-template-columns: 100%;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
  footer button {
    margin: 1rem;
  }
  /*INDEX*/
  .parrafo_principal {
    align-items: center;
    width: 100%;
    text-align: justify;
  }
  .parrafo_principal p {
    width: 100%;
    text-align: justify;
  }
  .resenias {
    text-align: center;
    background-color: rgb(114, 3, 3);
    padding: 2rem;
  }
  .resenias .titulo {
    padding-top: 0%;
    padding-bottom: 3rem;
  }
  .resenias .carousel-inner {
    padding-inline: 2rem;
  }
  .resenias .carousel-inner .carousel-item {
    padding: 0%;
    width: 100%;
  }
  .resenias .carousel-inner .carousel-item .div {
    display: grid;
    grid-template-columns: repeat(2, 55fr);
    margin-inline: 1rem;
  }
  .resenias .carousel-inner .carousel-item .div div {
    border: 1px solid white;
    width: 75%;
    height: 90%;
    margin-inline: 1rem;
    border-radius: 3rem;
    margin-bottom: 1rem;
  }
  .resenias .carousel-inner .carousel-item .div div img {
    width: 45%;
    height: 38%;
    border-radius: 60%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .resenias .carousel-inner .carousel-item .div div p {
    width: 100%;
  }
  /*TIRADAS*/
  .tiradas {
    display: grid;
    grid-template-columns: 20fr;
    grid-template-rows: repeat(6, 60fr);
    padding: 2rem;
  }
  .tiradas article {
    margin-bottom: 1rem;
  }
  /* SOBRE NOSOTROS */
  .nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nosotros div {
    width: 100%;
    min-width: 300px;
    max-width: 800px;
    text-align: justify;
  }
  .nosotros div p {
    width: 100%;
  }
  /* CONTACTO */
  .main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 90fr);
    justify-content: center;
    align-items: center;
  }
  .main .info .form {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  /*INDEX*/
  .resenias .carousel-inner .carousel-item {
    padding: 0%;
    width: 100%;
  }
  .resenias .carousel-inner .carousel-item .div {
    display: flex;
  }
  /*TIRADAS*/
  .tiradas {
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 400px);
  }
  /*CONTACTO*/
  .main {
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: 100%;
  }
  .main .info .form {
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
