body {
  background-color: black;
  color: white;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 100%;
  main {
    grid-area: main;
  }
  header {
    grid-area: header;
  }
  footer {
    padding-top: 3rem;
    grid-area: footer;
  }
  a {
    text-decoration: none;
    color: white;
    &:hover {
      font-weight: bolder;
    }
  }
}
