/* MEDIA QUERY */
body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 100%;

  @media screen and (min-width: 320px) {
    nav {
      grid-area: header;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li {
          margin: 1rem;
        }
      }
    }
    main {
      grid-area: main;
    }
    footer {
      grid-area: footer;
    }
    /*INDEX*/
    .imgprincipal {
      flex-direction: column;
      div {
        align-items: center;
        width: 100%;
        min-width: 300px;
        max-width: 800px;
        text-align: justify;
        margin-inline: 2rem;
        p {
          width: 100%;
          text-align: justify;
        }
      }
    }
    .resenias {
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }

    /*TIRADAS*/
    .tiradas {
      display: grid;
      grid-template-columns: repeat(1, 20fr);
      grid-template-rows: repeat(6, 20fr);
      padding: 1rem;
    }
    .opciones {
      margin: 1rem;
    }

    /* SOBRE NOSOTROS */
    .nosotros {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .parrafos {
        width: 100%;
        min-width: 300px;
        max-width: 800px;
        text-align: justify;
        p {
          width: 100%;
        }
      }
    }

    /* CONTACTO */
    .main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .form {
      width: 100%;
      margin: 0 auto;
    }
    .parrafo2 {
      margin-top: 1rem;
      text-align: center;
    }
  }

  @media screen and (min-width: 1200px) {
    nav {
      ul {
        display: flex;
        flex-direction: row;
      }
    }
    /*INDEX*/
    .imgprincipal {
      flex-direction: row;
    }
    .carousel-item img {
      width: 600px;
      height: 400px;
    }

    /*TIRADAS*/
    .tiradas {
      grid-template-columns: repeat(3, 400px);
      grid-template-rows: repeat(2, 420px);
    }

    /*CONTACTO*/
    .main {
      display: grid;
    }
  }
}
