@import "./reset";
@import "./estructura";

/* NAVEGADOR */
header {
  padding: 2rem;
}

/*INDEX*/
/* Imagen principal */
.parrafo_principal {
  background-color: brown;
  padding: 12rem;
  text-align: center;
  div {
    p {
      text-align: center;
      width: 100%;
      font-weight: bolder;
    }
  }
}

/* RESEÑAS */
.resenias {
  background-color: rgb(114, 3, 3);
  .carousel{
    width: 100%;
    .carousel-inner {
    height: 35rem;
      .carousel-item {
        width: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.titulo {
  padding-top: 2rem;
}

/*Tiradas con grid*/
.tiradas {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, 400px);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: brown;
  article {
    img {
      border-radius: 3rem;
      width: 270px;
      height: 300px;
      margin-bottom: 1rem;
    }
    button {
      width: 13rem;
      margin-inline: 0.5rem;
      border: none;
      border-radius: 3rem;
      padding: 1rem;
    }
  }
}
.cancelaciones {
  background-color: rgb(114, 3, 3);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  .cancelar {
    border: none;
    padding: 1rem;
    font-weight: bolder;
  }
}

/* Sobre Nosotros */
.nosotros {
  background-image: url(../IMAGENES/craft-g1ab7d2586_1280.jpg);
  /*Image by <a href="https://pixabay.com/users/albanycolley-6298107/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2728227">Daniel Albany</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2728227">Pixabay</a>*/
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  padding: 8rem;
  h1 {
    text-align: center;
  }
  div {
    background-color: brown;
    padding: 2rem;
    margin-inline: 3rem;
    width: 500px;
    border-radius: 3rem;
    p {
      width: 100%;
      font-weight: bolder;
    }
  }
}

/* Contacto */
.main {
  background-color: none;
  display: grid;
  grid-template-columns: repeat(2, 60%);
  grid-template-rows: 100%;
  background-color: brown;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  .info {
    margin-inline: 1rem;
    .form {
      width: 100%;
      margin: 0%;
      padding: 1rem;
      display: block;
      border-radius: 5rem;
      border: 1px solid white;
      .titulo_form {
        text-align: center;
        margin: 0.5px;
      }
      .parrafo {
        padding: 0;
        text-align: justify;
      }
      .container_form {
        div {
          margin: 1rem;
          .label {
            cursor: pointer;
          }
          .input {
            width: 100%;
            background: none;
            border: none;
            border-bottom: 1px solid black;
            outline: none;
          }
        }
      }
      .boton {
        width: 90%;
        margin-inline: 1rem;
        border: none;
        border-radius: 3rem;
        padding: 1rem;
        background: white;
      }
    }
  }
}
div.parrafo2 {
  width: 100%;
  text-align: center;
}
iframe {
  border-radius: 3rem;
}

/* Preguntas Frecuentes */
.contenedor {
  background-color: brown;
  display: flex;
  align-items: center; /*en el medio de forma vetical*/
  justify-content: center; /* en el medio de forma horizontal*/
  padding: 6rem;
  .container {
    margin: 5rem;
  }
}

/* MEDIA QUERY */
@media screen and (min-width: 320px) {
  html {
    display: grid;
    grid-template-columns: 100%;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
    button {
      margin: 1rem;
    }
  }
  /*INDEX*/
  .parrafo_principal {
    align-items: center;
    width: 100%;
    text-align: justify;
    p {
      width: 100%;
      text-align: justify;
    }
  }

  /*TIRADAS*/
  .tiradas {
    display: grid;
    grid-template-columns: 20fr;
    grid-template-rows: repeat(6, 60fr);
    padding: 2rem;
    article {
      margin-bottom: 1rem;
    }
  }

  /* SOBRE NOSOTROS */
  .nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      width: 100%;
      min-width: 300px;
      max-width: 800px;
      text-align: justify;
      p {
        width: 100%;
      }
    }
  }

  /* CONTACTO */
  .main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 90fr);
    justify-content: center;
    align-items: center;
    .info {
      .form {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  /*INDEX*/

  /*TIRADAS*/
  .tiradas {
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 400px);
  }

  /*CONTACTO*/
  .main {
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: 100%;
    .info {
      .form {
        height: 100%;
      }
    }
  }
}
