@import "./reset";
@import "./estructura";
@import "./vistas";

/* NAVEGADOR */
nav ul {
  list-style-type: none; /*quito viñetas a la lista*/
  text-align: center;
  padding: 10px;
  li {
    display: inline-block;
    margin: 1rem;
  }
}

/*INDEX*/
/* Imagen principal */
.imgprincipal {
  background-image: url(../IMAGENES/viva-luna-studios-XZhILkqs2mk-unsplash.jpg);
  /* Foto de <a href="https://unsplash.com/@vivalunastudios?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Viva Luna Studios</a> en <a href="https://unsplash.com/es/fotos/XZhILkqs2mk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; /*en el medio de forma vetical*/
  justify-content: center; /* en el medio de forma horizontal*/
  padding: 10rem;
  div {
    background-color: brown;
    padding: 2rem;
    margin-inline: 3rem;
    width: 500px;
    p {
      width: 100%;
      font-weight: bolder;
    }
  }

}

/* RESEÑAS */
.resenias {
  text-align: center;
  .carousel-item {
    padding: 5rem;
  }
}
.titulo {
  padding: 2rem;
}

/*Tiradas con grid*/
.tiradas {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, 400px);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: brown;
  article {
    img {
      border-radius: 3rem;
      width: 270px;
      height: 300px;
      margin: 1rem;
    }
    button {
      width: 15rem;
      margin-inline: 1rem;
      border: none;
      border-radius: 3rem;
      padding: 1rem;
    }
  }
}
.cancelaciones {
  text-align: center;
  padding: 2rem;
}

/* Sobre Nosotros */
.nosotros {
  background-image: url(../IMAGENES/craft-g1ab7d2586_1280.jpg); 
  /*Image by <a href="https://pixabay.com/users/albanycolley-6298107/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2728227">Daniel Albany</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2728227">Pixabay</a>*/
  background-repeat: no-repeat;
  background-size: cover ;
  text-align: justify;
  padding: 8rem;
  h1 {
    text-align: center;
  }
  div {
    background-color: brown;
    padding: 2rem;
    margin-inline: 3rem;
    width: 500px;
    p {
      width: 100%;
      font-weight: bolder;
    }
  }
}

/* Contacto */
.main {
  background-color:none;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100%;
  background-color: brown;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  section {
    margin-inline: 2rem;
    .form {
      width: 100%;
      margin: 0%;
      padding: 2rem;
      display: block;
      text-align: center;
      border-radius: 5rem;
      border: 1px solid white;
      .parrafo {
        width: 100%;
        max-width: 30fr;
        text-align: justify;
        background-color: none;
      }
      .container_form {
        div {
          margin: 1rem;
          .label {
            cursor: pointer;
          }
          .input {
            width: 100%;
            background: none;
            border: none;
            border-bottom: 1px solid black;
            outline: none;
          }
        }
      }
      .boton {
        width: 90%;
        margin-inline: 1rem;
        border: none;
        border-radius: 3rem;
        padding: 1rem;
        background: white;
      }
    }
  }
}
div.parrafo2 {
  width: 100%;
  text-align: center;
}
iframe {
  border-radius: 3rem;
}

/* Preguntas Frecuentes */
.contenedor {
  background-color: brown;
  display: flex;
  align-items: center; /*en el medio de forma vetical*/
  justify-content: center; /* en el medio de forma horizontal*/
  padding: 6rem;
  .container {
    margin: 5rem;
  }
}
